<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database Connection -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://postgres:5432/training_db</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">postgres</property>
<!--        <property name="hibernate.hbm2ddl.auto">create-drop</property>-->

        <!-- Hibernate Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Other Settings -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Register Entity Classes -->
        <mapping class="com.example.epam.entity.User"/>
        <mapping class="com.example.epam.entity.Trainee"/>
        <mapping class="com.example.epam.entity.Trainer"/>
        <mapping class="com.example.epam.entity.Training"/>
        <mapping class="com.example.epam.entity.TrainingType"/>
    </session-factory>
</hibernate-configuration>
